@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

/* General styles for the intro stage */
html, body {
    height: 100%;
    margin: 0;
}

* {
    user-select: none;
}

/*INTRO STAGE*/

.intro-stage {
    background-image: url('fotos/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat';
}

.intro-logo {
    width: 50%; 
    height: auto;
} 

.intro-content {
    width: 75%;
    height: 75%;
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;     
}

.sector-content {
    width: 75%;
    height: 75%;
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: top; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;    
}

.sector-content p {
    size: contain;
    text-align: center; 
    font-size: 1.5rem; 
    color: #555; 
    line-height: 1.8; 
    margin: 0 0 1rem 0;
    max-width: 600px;
}

.intro-content p {
    size: contain;
    text-align: center; 
    font-size: 1.5rem; 
    color: #555; 
    line-height: 1.8; 
    margin: 0 0 1rem 0;
    max-width: 600px;
}

.intro-content p:last-child {
    size: contain;
    color: #2c5a77; 
    font-weight: 700;
    padding-top: 3%; 

}

/* Button styles */
.intro-button {
    size: contain;
    padding: 1rem 2rem; 
    font-size: 1.25rem; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    background-color: #2c5a77;
    color: white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.intro-button:hover {
    size: contain;
    background-color: #B2CEE3; 
    transform: scale(1.05); 
}

/*SECTOR SELECTION STAGE*/

.sector-selection{
    background-image: url('fotos/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat';
}


.sector-selection-content {
    width: 75%;
    height: 75%;
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
}

.sector-selection-content p {
    size: contain;
    text-align: center; 
    font-size: 1.5rem; 
    color: #555; 
    line-height: 1.8; 
    margin: 0 0 1rem 0;
    max-width: 600px;
}

.sector-selection-content h1 {
    size: contain;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3%;
    margin-top: 3%;
    color: #204054; 
}

.button-sector {
    size: contain;
    padding: 1rem 2rem;
    width: 100%; 
    max-width: 300px; 
    background-color: #2c5a77; 
    border: none; 
    border-radius: 10px; 

    text-align: center; 
    font-size: 1.25rem; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    color: white; 

    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;  
}

.button-sector:hover {
    size: contain;
    background-color: #B2CEE3; 
    transform: scale(1.05);
}

.back-button {
    size: contain;
    position: absolute;
    bottom: 3%; 
    left: 3%;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 40px;
    background-color: #2c5a77;
    border: none; 
    border-radius: 10px; 

    font-size: 1.25rem; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    color: white; 
   
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    
}

.back-button:hover {
    size: contain;
    background-color: #B2CEE3; 
    transform: scale(1.05); 
}