@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

/* General styles for the intro stage */
html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
}

* {
    user-select: none;
}

/*INTRO STAGE*/

/*Background image*/
.intro-stage {
    background-image: url('fotos/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    overflow: auto;
}

/*White square that contains all the content*/
.intro-content {
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 

    width: 73%; 
    max-width: 73%;
    width: 75%; 
    min-height: 75%;
    height: auto;
    padding: 24px; 

    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;

    gap: 12px; 
}

/*Image containing the logo*/
.intro-logo {
    width: 50%; 
    height: auto;

    margin-top: -1%;
    margin-bottom: -1%;
} 

/*Intro paragraph*/
.intro-content p {
    max-width: 500px; 

    margin-top: 1%; 
    size: contain;
    text-align: center;

    font-size: 20px; 
    color: #555; 
    line-height: 1.6; 
}

/*Intro paragraph last element*/
.intro-content p:last-child {
    size: contain;

    padding-top: 24px; 

    color: #2c5a77; 
    font-weight: 700;
}

/* Start Self-Assessment Button Style */
.intro-button {
    background-color: #2c5a77;
    border: none; 
    border-radius: 8px; 
    size: contain;

    padding: 12px 24px; 
    font-size: 16px; 
    font-family: 'Montserrat'; 
    font-weight: 700;
    color: white; 
     
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease; 
}

/* Start Self-Assessment Button Hover Style */
.intro-button:hover {
    background-color: #B2CEE3; 

    size: contain;
    
    transform: scale(1.05); 
}

/*SECTOR SELECTION STAGE*/

/*Sector selection background image*/
.sector-selection {
    background-image: url('fotos/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    overflow: auto;
}

/*Sector selection content*/
.sector-selection-content {
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    
    width: 73%; 
    max-width: 73%;
    width: 75%; 
    min-height: 75%;
    height: auto;
    padding: 24px; 
    
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    
    gap: 12px; 
    position: relative;
    
}

/*Title*/
.sector-selection-content h1 {
    size: contain;
    text-align: center;
    margin-bottom: 2%; 
    margin-top: 2%; 

    font-size: 48px; 

    color: #204054; 
}

/*Explanation text*/
.sector-selection-content p {
    max-width: 500px; 

    size: contain;
    text-align: center;
    margin: 0 0 12px 0; 

    font-size: 20px; 
    color: #555; 
    line-height: 1.6; 
}

/*Sector button*/
.button-sector {
    background-color: #2c5a77;
    border: none; 
    border-radius: 8px;

    size: contain;
    padding: 12px 24px; 
    width: 100%; 
    max-width: 250px; 
    
    text-align: center; 
    font-size: 16px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    color: white; 

    cursor: pointer; 

    transition: background-color 0.3s ease, transform 0.2s ease;  
}

/*Sector button hover style*/
.button-sector:hover {
    size: contain;
    background-color: #B2CEE3; 
    transform: scale(1.05);
}

/*Back button*/
.back-button {
    background-color: #2c5a77;
    border: none; 
    border-radius: 10px; 

    width: 100%;
    max-width: 140px;
    height: 100%;
    max-height: 40px;

    position: absolute;
    bottom: 3%; 
    left: 3%;

    font-size: 15px; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    color: white; 
   
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease;  
}

/*Back button style*/
.back-button:hover {
    size: contain;

    background-color: #B2CEE3; 

    transform: scale(1.05); 
}