@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

.background {
    background-image: url('fotos/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat';
}

.white-square {
    width: 75%;
    height: 75%;
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative; /* Keep relative positioning */
}

.white-square h1 {
    position: relative; 
    text-align: center; 
    font-size: 3.5rem;
    margin: 0; 
    margin-top: 10px; 
    padding-top: 0; 
    color: #204054; 
    align-self: center; 
}

.white-square p {  
    position: relative;
    text-align: center; 
    font-size: 2rem;
    color: #555; 
    line-height: 1.8; 
    max-width: 85%;
    margin-top: 4%; 
}

/*Questions*/
.white-square ul {
    list-style-type: none; 
    padding: 0;
    margin: 10px 0 0 0;
    margin-top: 5px;
    text-align: left;
    max-width: 75%;

}

.white-square ul li {
    font-size: 1.5rem; 
    color: #555; 
    line-height: 1.8; 
    margin: 2rem 0; 
    position: relative; 
    padding-left: 2rem; 
    cursor: pointer;
    appearance: none; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.white-square ul li::before {
    content: ''; 
    width: 1rem;
    height: 1rem;
    background-color: transparent; 
    border: 2px solid #204054; 
    border-radius: 10px; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.white-square ul li.selected::before {
    background-color: #204054; 
    border-color: #204054; 
}

.white-square ul li.selected {
    color: #204054;
    font-weight: 500;
    transition: color 0.3s ease;
}

.white-square ul li:hover::before {
    background-color: #204054; 
    border-color: #204054; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.white-square ul li:hover {
    color: #204054; 
    transition: color 0.3s ease;
}

.next-button {
    position: absolute;
    bottom: 3%; 
    right: 3%;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 40px;
    background-color: #2c5a77;
    border: none; 
    border-radius: 10px; 

    font-size: 1.25rem; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    color: white; 
   
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    
}

.next-button:hover {
    size: contain;
    background-color: #B2CEE3; 
    transform: scale(1.05); 
}

.next-button:disabled {
    background-color: #d3d3d3; 
    color: #a9a9a9; 
    cursor: not-allowed; 
    transform: none; 
    opacity: 0.6; 
}

.reset-button {
    position: absolute;
    bottom: 3%; 
    left: 3%;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 40px;
    background-color: #2c5a77;
    border: none; 
    border-radius: 10px; 

    font-size: 1.25rem; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; 
    color: white; 
   
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    
}

.reset-button:hover {
    size: contain;
    background-color: #B2CEE3; 
    transform: scale(1.05); 
}
